@import "tailwindcss";

:root {
  --background: #889063;
  --foreground: #889063;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #889063;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
button{
  background-color: greenyellow;
  color:black
}

.mainPage{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h1{
    font-size: 50px;
  }
}